body {
    font-size: 30px;
}

.hidden {
    opacity: 0;
    transition: opacity 1s ease;
}

.seccion {
    text-align: center;
}

p {
    position: relative;
    width: 100%;
    font-size: 30px;
    background-color: beige;
}

